.navbar{
  justify-content: flex-start;
  color: white;
  background-color: gray;
  cursor: pointer;
  width: 50%;
  display: flex;
}
.navbar .option1:hover{
  background-color: darkgrey;
  /*color: black;*/
  width: 15%;
}

span{
  padding-right: 5rem;
}

