<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
</div>

<div>
  <mat-toolbar class="navbar">
    <span class="option1" routerLink="software" routerLinkActive="active">Software List</span>
    <span class="option1" routerLink="booking" routerLinkActive="active">Buy Software</span>
    <span class="option1" routerLink="client" routerLinkActive="active">Overview Clients</span>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>
